* {
    margin: 0;
}

/* navigation area */
.navbar {
    display: flex;
    flex-direction: row;
    background-color: #f5ecdbc4;
    height: 3rem;
    position: fixed;
    left: 0;
    right: 0;

}

/* .nav-items{} */

.nav-list {
    display: flex;
    flex-direction: row;
}

.nav-list li {
    padding-inline: 70px;
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}

.btn {
    border: none;
}

.btn a {
    text-decoration: none;
    color: #F26200;
    font-family: sans-serif;
}

/* background image or color and content */
.hero {
    background-color: #F5ECDB;
    padding-top: 12rem;
    padding-bottom: 12rem;
    padding-left: 10rem;
    padding-right: 10rem;
    /* height: 100%; */
}

.hero h4 {
    font-family: sans-serif;
}

.hero h1 {
    color: #F26200;
    font-family: cursive;
}


/* services section */

.main section {
    overflow: hidden;
}

.services-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 26px;
    grid-row-gap: 0px;

    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 3rem;
}

.service {
    align-items: center;
}

.material-icons {
    padding-bottom: 8%;
    padding-left: 130px;
}

.service h4 {
    padding-bottom: 2rem;
    padding-left: 100px;
    font-family: sans-serif;
}

.service p {
    padding: 2rem;
    font-family: sans-serif;
}

/* About section */
.about {
    background-image: url(../assets/images/aboutimg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no repeat;
    background-size: cover;
    height: 50vh;
}



/* portfolio section  */

/* .portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
} */



/* testimonial section  */

.testimonial-section {
    padding-left: 50px;
    padding-right: 50px;
}

.testimonial-section h2 {
    padding-bottom: 30px;
    padding-top: 5rem;
    padding-left: 50%;
    font-family: sans-serif;
}

.testimonial {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0;
}

.test-div {
    background-color: #F5ECDB;
    align-content: center;
    padding-bottom: 7rem;
    padding-top: 7rem;
    border-radius: 15%;
}

.test-div h4 {
    padding-left: 3rem;
    color: #F26200;
    font-family: sans-serif;
}

.test-div h5 {
    padding-left: 3rem;
    padding-bottom: 2rem;
    color: rgb(65, 64, 64);
    font-family: sans-serif;
}

.test-div p {
    padding-left: 50px;
    padding-right: 50px;
    color: rgb(65, 64, 64);
    font-family: sans-serif;
}


/* Blog Section-- */
.blog-sect {
    margin-top: 5rem;

    padding-left: 50px;
    padding-right: 50px;
    padding-top: 2rem;
    background-color: #F5ECDB;
}

.blog-sect h3 {
    font-family: sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
}

.blog-sect p {
    font-family: sans-serif;
    color: rgb(93, 92, 92);
    padding-bottom: 3rem;
    padding-right: 30rem;
}

.blog-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 2rem;
}

.blog-img {
    width: 100%;
}

.blog-img img {
    width: 60%;
    height: 70%;
    padding-left: 50px;
    padding-bottom: 1rem;
}

.blog-img a {
    text-decoration: none;
    color: black;
}

.blog-img h5 {
    padding-left: 60px;
    padding-bottom: 3rem;
}

/* footer section  */

.footer-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 0px;
}